<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/all.css" />
    <link rel="stylesheet" href="/static/css/root.css" />
    <link rel="stylesheet" href="/static/css/layouts.css" />
    <link rel="stylesheet" href="/static/css/intro.css" />
    <link rel="stylesheet" href="/static/css/round.css" />
    <link rel="stylesheet" href="/static/css/quiz.css" />
    <link rel="stylesheet" href="/static/css/question.css" />
    <link rel="stylesheet" href="/static/css/card.css" />
    <link rel="stylesheet" href="/static/css/result.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <title>Document</title>
  </head>
  <body>
    <section id="intro" class="main">
      <img id="intro__img" src="/static/img/zuzu.png" alt="" srcset="" />
      <div id="playBtn">시작하기</div>
    </section>
    <section id="round" class="main">
      <div id="round__title" class="animate__animated animate__fadeInDown"></div>
    </section>
    <section id="quiz" class="main">
      <div id="quiz__question">
        <div id="quiz__question__title"></div>
        <img id="quiz__question__img" src="" alt="" srcset="" />
      </div>
      <div id="quiz__answer">
        <div id="quiz__answer__useranswer"></div>
        <div id="quiz__answer__example">
          <div class="quiz__answer__example__line">
            <div class="quiz__example__card card" data-example="1"></div>
            <div class="quiz__example__card card" data-example="2"></div>
            <div class="quiz__example__card card" data-example="3"></div>
            <div class="quiz__example__card card" data-example="4"></div>
            <div id="quiz__backspace">
              <i class="fas fa-arrow-left"></i>
            </div>
          </div>
          <div class="quiz__answer__example__line">
            <div class="quiz__example__card card" data-example="5"></div>
            <div class="quiz__example__card card" data-example="6"></div>
            <div class="quiz__example__card card" data-example="7"></div>
            <div class="quiz__example__card card" data-example="8"></div>
            <div class="quiz__example__card card" data-example="9"></div>
          </div>
          <div class="quiz__answer__example__line">
            <div class="quiz__example__card card" data-example="10"></div>
            <div class="quiz__example__card card" data-example="11"></div>
            <div class="quiz__example__card card" data-example="12"></div>
            <div class="quiz__example__card card" data-example="13"></div>
            <div class="quiz__example__card card" data-example="14"></div>
          </div>
        </div>
        <div id="quiz__answer__btnline">
          <div id="submitBtn">제출</div>
        </div>
      </div>
    </section>
    <section id="result" class="main">
      <div id="result__rank__problem" class="animate__animated animate__fadeIn">총 14문제를 맞추셨습니다.</div>
      <div id="result__rank__user" class="animate__animated animate__fadeIn">상위 23%</div>

      <div id="result__replay__title"></div>
      <div id="result__replayBtn"><i class="fas fa-redo-alt animate__animated animate__infinite animate__swing"></i><span style="text-indent: 10px">다시하기</span></div>
    </section>
    <!-- javascript -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/var.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/problem.js"></script>
    <script src="/static/js/button.js"></script>
    <script src="/static/js/card.js"></script>
    <script src="/static/js/quiz.js"></script>
    <script src="/static/js/result.js"></script>
    <script src="/static/js/audio.js"></script>
  </body>
</html>
