<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section id="intro"></section>
    <section id="round"></section>
    <section id="main"></section>
    <section id="result"></section>
  </body>
</html>
