#quiz {
  display: none;
}

#quiz__question {
  height: 40%;
  background-color: rebeccapurple;
}

#quiz__answer {
  height: 60%;
  background-color: beige;
}

#quiz__answer__useranswer {
  display: flex;
  height: 20%;
  align-items: center;
  justify-content: space-evenly;
  background-color: brown;
}

#quiz__answer__example {
  height: 60%;
  background-color: #f0f0f0;
}

.quiz__answer__example__line {
  display: flex;
  height: 33%;
  align-items: center;
  justify-content: space-around;
  background-color: cadetblue;
}
#quiz__answer__btnline {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  background-color: #ff9999;
}

/* btn */

#submitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  width: 50%;
  height: 60%;
  border-radius: 10px;
  font-size: 20px;
}
#submitBtn:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  font-weight: bold;
}
