#result {
  display: none;
  background-color: rosybrown;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 25px;
  font-weight: 900;
}
#result__order {
  padding-top: 30vh;
}
#arrow {
  color: black;
  padding-top: 10vh;
  width: 82.5%;
  height: 3%;
}

#arrow__container {
  font-size: 20px;
  width: 5%;
}

#arrow__container__icon {
  animation: arrow-move 1.3s ease-out forwards;
}

#progress {
  width: 80%;
  height: 5%;
  background: #e1e4e8;
  border-radius: 5%;
  overflow: hidden;
}
#progress__container {
  width: 70%;
  height: 100%;
}
#progress-bar {
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #ffd33d, #ea4aaa 17%, #b34bff 34%, #01feff 51%, #ffd33d 68%, #ea4aaa 70%, #b34bff 100%);
  background-size: 300% 100%;
  animation: progress-infiniteMove 1.5s 1.5s linear infinite, progress-widthMove 1.3s ease-out forwards;
}

@keyframes progress-infiniteMove {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0;
  }
}

@keyframes progress-widthMove {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes arrow-move {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: 95.5%;
  }
}
